fastapi
uvicorn
python-multipart
python-dotenv
openai
groq
google-generativeai
chromadb
motor
pymongo
pydantic
pydantic-settings
langchain
langchain-community
langchain-openai
tiktoken
torch
openai-whisper
pdfminer.six
pdfplumber
pypdfium2
aiohttp
boto3
aiobotocore
cryptography
bcrypt
PyJWT